<form class="login">
    <table>
        <tr>
            <mat-form-field appearance="outline">
                <mat-label>Name:</mat-label>
                <input matInput placeholder="enter name" [formControl]="name">
            </mat-form-field>
        </tr>
        <tr>
            <mat-form-field appearance="outline">
                <mat-label>Password:</mat-label>
                <input matInput placeholder="enter password" [formControl]="password">
            </mat-form-field>
        </tr>
        <tr>
            <button mat-raised-button type="submit" (click)="onSubmit()">Login</button>
        </tr>
    </table>
</form>